<div class="row mt-3">
    <div class="col-sm-6 col-md-4 bg-dark text-white text-center" style="height:250px">
      <div class="text-white"><h2>Contact Info</h2></div>
      <p><i class="fa fa-map-marker" style="width:30px"></i> Tunisie</p>
      <p><i class="fa fa-phone" style="width:30px"></i> Phone: +00 000000</p>
      <p><i class="fa fa-envelope" style="width:30px"> </i> Email: selim@gmail.com</p>
    </div>
    <div class="col-sm-6 col-md-4 bg-dark text-white text-center" style="height:250px">
      <h2>Contact Us</h2>
      <p>If you have an idea.</p>
      <p>What are you waiting for?</p>
    </div>
    <div class="col-sm-6 col-md-4 bg-dark text-white text-center" style="height:250px">
      <h2>Like Us</h2>
      <i class="w3-xlarge fa fa-facebook-official" role="button"></i>
      <i class="w3-xlarge fa fa-twitter" role="button"></i>
  
    </div>
  </div>